:root {
  --primary-dark: #cacfd6ff;
  --primary: #d6e5e3ff;
  --secondary: #9fd8cbff;
  --secondary-dark: #517664ff;

  
  --primary: #a06cd5ff;
  --thistle: #e2cfea;
  --amethyst: #a06cd5;
  --thistle-light: #f3eafd;
  --thistle-dark: #bba7c7;
  --primary-light: #c3a6e8;
  --primary-dark: #6d4799;
  --plum: #8d5fa7;
  --lavender: #d1b3e0;
  --mauve: #b497bd;
}
