:root {
  --primary-dark: #cacfd6ff;
  --primary: #d6e5e3ff;
  --secondary: #9fd8cbff;
  --secondary-dark: #517664ff;

  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;

  --primary: #a06cd5ff;
  --thistle: #e2cfea;
  --amethyst: #a06cd5;
  --thistle-light: #f3eafd;
  --thistle-dark: #bba7c7;
  --primary-light: #c3a6e8;
  --primary-dark: #6d4799;
  --plum: #8d5fa7;
  --lavender: #d1b3e0;
  --mauve: #b497bd;
}
