@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap'); 

.grid {
  padding: 3rem;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-template-rows: repeat(auto-fit, min-content); 
}


.container {
  display: grid;
  grid-template-areas:
    "footer";
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgb(130, 137, 168);
}
  
.footer {
  padding-top: auto;
  display: flex;
  justify-content: space-around; 
  align-items: center;
  grid-area: footer;

}

.inf {
  color: rgb(0, 0, 0);
}

.myName {
  color: rgb(45, 42, 152);
  font-size: 2rem;
  font-family: "Birthstone", cursive;
  font-weight: 400;
  font-style: normal;
}

.icons {
  display: flex;
  align-items: center;
  gap: 1rem; 
  order: 999999999;
  background-color: rgb(33, 41, 77);
  border-radius: 1rem;
  padding: 0.5rem;
}

  
 @media (max-width: 720px) {
  .footer {
    flex-direction: column;
    gap: 1rem; 
    
  }

  .textBlock {
    align-items: center;
    text-align: center;
  }

  .inf {
    font-size: 1.5rem;
    
  }
}






 





