.container {
  display: grid;
  grid-template-areas:
    "header1";
  grid-template-rows: 10rem;
  background-color: var(--primary);
}

.header1 {
  grid-area: header1;
  background-color: rgb(2, 7, 65);
  color: var(--primary-contrast-dark);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}
